<html lang="en">
	<head>
		<meta name="viewport" content ="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta property="og:type" content="pendragonscode.xyz	">
		<meta property="og:site_name" content="Pendragon's main site.">
		<meta property="og:title" content="Pendragon's main site.">
		<meta property="og:description" content="A basic site that I made for fun.">
		<meta name="theme-color" content="#1F618D">
		<link rel="stylesheet" href="/css/landingPage.css">
		<link rel="stylesheet" media="screen and (max-width: 1100px)" href="css/mobileLanding.css">
		<link rel="stylesheet" media="screen and (max-width: 850px)" href="css/mobileLanding.css">
		<title>Pendragon's code</title>
		<script src="https://kit.fontawesome.com/be4616c9da.js" crossorigin="anonymous"></script>
	</head>

	<body id="home">
		<nav id="navbar">
			<ul>
				<div class="dropdown">
					<button class="dropbtn">Navigation!</button>
						<div class="dropdown-content">
							<a href="https://code.pendragonscode.xyz/">Portfolio!</a>
							<a href="https://code.pendragonscode.xyz/contact">Contacts!</a>
							<a href="https://api.pendragonscode.xyz">API!</a>
							<a href="https://pixeljeff.tumblr.com/post/675186511641264128/new-dawn-2022">Wallpaper 1!</a>
							<a href="https://www.artstation.com/artwork/r9VlQe">Wallpaper 2!</a>
							<a href="/">Home!</a>
						</div>
	
				</div>
			</ul>
		</nav>
		<section id="foodWaste" class="bg-light py-1">
			<div class="container">
				<h2 class="m-heading text-center"><span class="text-primary">Food waste:</span></h2>
				<div class="items">
					<div class="item">
					As a political science student, I have learnt many things, one of which includes the topic of food waste!<br><br>Hunger and malnutrition:<br>Food insecurity often leads to hunger and malnutrition, affecting physical and cognitive development, productivity, and overall health.<br><br>Social implications:<br>Food waste exacerbates food insecurity by diverting resources away from those in need. If the food that is wasted could be effectively collected and redistributed, it could help address hunger and reduce food insecurity. <br><br>Food waste can contribute to increased production costs. For example, if a farmer experiences significant crop losses, they may need to invest more resources in replanting, applying additional inputs, or implementing pest control measures. These additional expenses can strain farmers' finances. The increased production cost can be a financial strain for people.<br><br>Loss of agricultural productivity When food is wasted at the production stage, farmers incur losses in terms of labor, inputs (seeds, fertilizers, pesticides), and the cost of land and equipment. These losses can be financially devastating for small-scale farmers who rely on their crops for income.<br><br><br>Production capacity: Food waste affects the production capacity of the agricultural sector. When crops are lost or discarded due to pests, diseases, adverse weather conditions, or market demand fluctuations, it reduces the overall production capacity. Wasted production capacity means that farmers could have utilized their resources more efficiently to produce food that would have otherwise been consumed.<br><br>Processing capacity: Food waste also impacts the processing capacity of food facilities. When raw materials are wasted, it underutilizes the processing infrastructure. Processing facilities have limited capacity and are designed to handle a certain volume of food. When food is wasted, it not only reduces the processing capacity but also represents lost revenue for the facilities.<br><br><br>But like legit leh, don't waste food pls. The most avoidable damage to the environment and collective society. I see people waste food, especially in Singapore make my heart pain leh. Together we can contribute towards reducing food waste.<br><br><br> Global food waste is a cross-cutting issue that starts during agricultural production and continues all of the way to the landfill.

"Over 30% of food is lost or wasted each year. This number is even more striking, given the large number of hungry people in the world. Wasted food is not only inefficient, it’s a social justice issue.
<br><br>
Global food waste has an enormous environmental impact, too. Food waste is a huge source of greenhouse gas (GHG) emissions and wasted natural resources, and therefore – reducing food waste could help to reduce global greenhouse gas emissions, establish food security, and encourage healthy food systems.
<br><br>
However, this is not to say people are ignoring the problem. Many large businesses, startups, and nonprofits see the issue of food waste as an opportunity. Billions of dollars and calories of food are wasted each year, and the benefits of this value can be recovered." - relevant stats from Greenly.earth<br><br><br> We cannot do too much about this matter on a massive scale, but we can do what we can. This includes education on the subject: <br><br>Educating the public about food wastage is a critical step in addressing this global issue. By increasing awareness and understanding, individuals can make informed choices and take actions to reduce food waste.<br><br>Public education on food wastage involves several key aspects. Firstly, it is important to raise awareness about the scale and impact of food waste, highlighting the environmental, social, and economic consequences. This helps people understand the urgency and importance of taking action.&ZeroWidthSpace;
<br><br>Secondly, education should focus on the causes of food waste at different stages of the food supply chain, including production, processing, distribution, and consumption. Providing knowledge about these factors helps individuals identify where waste occurs and encourages them to adopt practices that minimize waste.
					</div>
				</div>
			</div>
		</section>
		<footer id="main-footer" class="bg-dark text-center py-1">
			<div class="container">
				<p><%-quote%></p>
			</div>
		</footer>
	</body>
</html>
