<!DOCTYPE html>
<html>
<body>
<p><%-quote%></p>
<picture>
	<img src="/hug/hug<%-hug%>.gif" alt="hugsss" style="width:auto;">
</picture>

<p><br><br><br><br><br><br><br><br><br><br><br><br>I do not own these images! Contact me at pendragonscode.xyz to reach out to me if you want to take an image down or more! :)</p>
</body>
</html>
